{% extends "blog/base.html" %}

{% block content %}

    <h1>About G-lerry</h1>
    <p class="text-long">G-lerry is small blog project for art related topics. You can share your art ideas,
        something you like about art or basically anything you think belongs here. <br> Please be kind to other users and spread art!</p>
    <p><br>* This website is still under development. New features will be added soon! 🌸</p>
    <img class="image-g-big" src="/static/images/gallery-demo.jpg" alt="Gallery image" >
    <p class="quote">" Painting is poetry that is seen rather than felt, and poetry is painting that is felt rather than seen. "</p>
{% endblock %}