<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- Medium Style editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <!-- Custom CSS  have to go after all other calls above-->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
    <title>G-lerry blog</title>

</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg  glerry-nav">
          <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li><a class="navbar-brand big-brand" href="{% url 'post_list' %}">
                <img src="/static/images/glerry-logo.png" alt="Logo G-lerry" width="150" class="logo-glerry d-inline-block align-text-top">

                </a></li>

                    <li>
                        <a class="nav-link customlink" href="{% url 'about' %}">About</a>
                    </li>

                    <li>
                        <a class="nav-link customlink" href="https://www.artforum.com/news"> Artforum news</a>
                    </li>
                    <!--dropdown added-->
                    {% if user.is_authenticated %}

                          <li class="nav-item dropdown customlink">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">User</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item customlink-drop" href="{% url 'post_new' %}">New post </a>
                                    <a class="dropdown-item customlink-drop" href="{% url 'post_draft_list' %}">Drafts</a>

                                        {% if user.is_superuser %}
                                            <a class="dropdown-item customlink-drop" href="{% url 'admin:index' %}">Admin ✎</a>
                                             <a class="dropdown-item change-logout customlink-drop" href="{% url 'logout' %}">Logout</a>
                                            <hr class="dropdown-divider">
                                            <p class="dropdown-item welcome-user customlink-drop-user" >Welcome: {{ user.username }} 👑</p>
                                        {% else %}
                                            <a class="dropdown-item change-logout customlink-drop" href="{% url 'logout' %}">Logout</a>
                                             <hr class="dropdown-divider">
                                            <p class="dropdown-item welcome-user customlink-drop-user" >Welcome: {{ user.username }}</p>
                                        {% endif %}

                                </ul>
                          </li>

                    {% else %}
                        <a href="{% url 'login' %}" class="nav navbar-right nav-item customlink customlogin">Login</a>
                    {% endif %}


            </ul>

          </div>
    </nav>
    <!--CONTENT BLOCK-->
    <div class="content container">

        <div class="row">
            {% block content %}

            {% endblock %}
        </div>

    </div>


</body>
</html>