{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <h1 class="post-title"> {{ post.title }} </h1>
        {% if post.published_date %}
        <div class="date postdate">
            Author: {{ post.author }}
            <br>
            {{post.published_date}}
        </div>
        {% else %}
        <a class="btn btn-secondary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>

        {% endif %}

    <p class="post-content">
        {{ post.text|safe|linebreaksbr }}
    </p>
    <!--  The title|safe takes care so our edited text does look
        like we want to in text editor after we publish it, bold is bold etc
        html will call br if there's break-->
        <div class="button-container">
        {% if user.is_authenticated and post.author == user %}
            <a class="button-post editbtn " href="{% url 'post_edit' pk=post.pk %}">Edit</a>
            <a class="button-post removebtn" href="{% url 'post_delete' pk=post.pk %}">Remove</a>

        {% endif %}

            <a href="{% url 'add_comment_to_post' pk=post.pk %}" class="button-post addcmntbtn">Add comment</a>
        </div>

   <div class="container comment-section">
        {% for comment in post.comments.all %}
            <div class="comment-one">
                <br>
                <p>{{ comment.text|safe|linebreaks }}</p>
                <p class="posted-by">Posted by: {{ comment.author }}</p>

                <span class="likes-text" id="likeCount_{{ comment.pk }}"> | Likes: {{ comment.likes }}</span>
                <button class="button-post likebtn" onclick="likeComment({{ comment.pk }})">Like</button>
            </div>
        {% endfor %}
    </div>


<script src="{% static 'js/comments.js' %}"></script>


{% endblock %}