{% extends "blog/base.html" %}

{% block content %}
    <h1 class="post-title"> {{ post.title }} </h1>
        {% if post.published_date %}
        <div class="date postdate">
            {{post.published_date}}
        </div>
        {% else %}
        <a class="btn btn-secondary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>

        {% endif %}

    <p class="post-content">
        {{ post.text|safe|linebreaksbr }}
    </p>
    <!--  The title|safe takes care so our edited text does look
        like we want to in text editor after we publish it, bold is bold etc
        html will call br if there's break-->

        {% if user.is_authenticated %}
            <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'post_delete' pk=post.pk %}">Remove</a>

        {% endif %}
            <hr>
            <a href="{% url 'add_comment_to_post' pk=post.pk %}" class="btn btn-secondary">Add comment</a>


        <div class="container">
            {% for comment in post.comments.all %}
            <br>
            {% if user.is_authenticated or comment.approved_comment %}

                {{comment.created_date}}
                {% if not comment.approved_comment %}
                    <a class="btn btn-secondary" href="{% url 'comment_remove' pk=comment.pk %}">Remove</a>
                    <a class="btn btn-danger" href="{% url 'comment_approve' pk=comment.pk %}">Add comment</a>
                {% endif %}

            <p>{{comment.text|safe|linebreaks}}</p>
            <p>Posted by: {{ comment.author }}</p>

            {% endif %}

            {% empty %}

                <p>No comments</p>

            {% endfor %}

        </div>


{% endblock %}