*{
   font-family: 'Playfair Display', serif;
}

.big-brand{
    font-size: 3rem ;
}

.content{
    margin-top: 8rem;

}

.postcontent{
    background: #dee0e7;
    border: 1px solid #a99bbb;
}

.glerry-nav{
    background-image: url('/static/images/glerry2.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.logo-glerry{
    margin: 0.5rem 1rem 0 2rem;
}

.customlink{
    margin: 1rem 0.5rem 0 0.5rem;
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

.customlink-drop{
    font-size: 2rem;
}

.customlogin{
    padding-top: 0.5rem;
    margin-left: 4rem;
}

.customlink-drop-user{
    font-size: 2rem;
    background-color: #e4dfe8 ;
}
