*{
   font-family: 'Playfair Display', serif;
}

.big-brand{
    font-size: 3rem ;
}

.content{
    margin-top: 8rem;
    margin-bottom: 8rem;

}

.postcontent{
    background: #dee0e7;
    border: 1px solid #a99bbb;
    min-height: 10rem;
}

.glerry-nav{
    background-image: url('/static/images/glerry2.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.logo-glerry{
    margin: 0.5rem 1rem 0 2rem;
}

.customlink{
    margin: 1rem 0.5rem 0 0.5rem;
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

.customlink-drop{
    font-size: 2rem;
}

.customlogin{
    padding-top: 0.5rem;
    margin-left: 4rem;
}

.customlink-drop-user{
    font-size: 2rem;
    background-color: #efebf2;
}

.text-long{
    margin-top: 1rem;
}

.image-g-big{
    margin-top: 3rem;
    max-width: 45vw;
    margin-left: auto;
    margin-right: auto;
}

.quote{
    font-size: 1.5rem;
    margin: 3rem auto 5rem auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.comment-one{
    border: 1px solid #dee0e7;
    margin: 1rem 0;
    background-color: #f0ebf2;
    padding: 0 1rem 1rem 1rem;
}

.bigger-text{
    font-size: 2rem;
}

.login-form{
    background-color: #ebebeb;
    padding: 2rem;
    margin:0;
}

.post-content{
    margin: 1rem 0;
    border-top: 3px solid #ebebeb;

}

.likes-text{
    margin: 2rem 0 0 1rem;
    color: #787878;
}

.posted-by{
    color: #787878;
}

/* post list page */

.post-list-content{
    color: #161716;
}

.post{
    background-color: #efebf2;
    padding: 1rem;
    margin: 1rem 0;
}

.new_user{
    text-align: center;
    margin:2rem 0;
}

.register{
    color: #6c756b;
    transition: color 0.3s, text-shadow 0.3s;
}
.register:hover{
    text-shadow: 1px 2px 5px #af99b4;
}

.note-right{
    margin-right: 5.5rem;
}

/* buttons */

.button-container{
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #ebebeb;
    margin: 1rem 0;
    padding: 1rem 0;
}

.button-post{
    text-decoration: none;
    color: white;
    background: #787878;
    text-align: center;
    margin: 1rem 1rem;
    padding: 0.5rem 0;
    width: 15vw;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button-post:hover{
   box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.editbtn {
    background-color: #6c756b;
}

.removebtn {
    background-color: #7a6363;
}

.deletebtn{
    background-color: #8f3b3b;
    width: 10vw;
}

.loginbtn{
    margin: 2rem 0;
}

.comment-b{
    padding: 0.5rem 1rem;
}

.likebtn{
    width: 5rem;
    background-color: #676e97;
    margin-left: 50vw;
}

.noneuser{
    background-color: #959595;
}